# .env.local (for local)
VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Database connection URL (used by scripts)
# Local: postgresql://postgres:postgres@127.0.0.1:54322/postgres
SUPABASE_DB_URL=postgresql://postgres:postgres@127.0.0.1:54322/postgres

# Production: postgresql://postgres:[password]@db.[project-ref].supabase.co:5432/postgres
# PROD_SUPABASE_DB_URL=



# .env (for production scripts)

VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
        

# Database connection URL (used by scripts)
# Local: postgresql://postgres:postgres@127.0.0.1:54322/postgres
# SUPABASE_DB_URL=postgresql://postgres:postgres@127.0.0.1:54322/postgres

# Production: postgresql://postgres:[password]@db.[project-ref].supabase.co:5432/postgres
PROD_SUPABASE_DB_URL=

# same as Secret Key
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_URL=